body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: -webkit-linear-gradient(left, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

#title {
    position: fixed;
    right: -112px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 1.6em;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 0 0 1px black;
}


#rulesBtn {
    position: fixed;
    height: 23px;
    top: 112px;
    left: -75px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: -webkit-linear-gradient(left, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-shadow: 0 0 3px #000;
}

#muteBtn {

    fill: white;
    position: fixed;
    top: 375px;
    left: 0px;
    width: 27px;
    height: 27px;
    padding: 2px;
    border: 1px solid red;
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: -webkit-linear-gradient(left, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    cursor: pointer;
}

#muteBtn .muteIcon {
    display: none;
}

#colorblind {
    fill: white;
    position: fixed;
    top: 407px;
    left: 0px;
    width: 27px;
    height: 27px;
    padding: 2px;
    border: 1px solid red;
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: -webkit-linear-gradient(left, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    cursor: pointer;
}

.enableEye {
    display: none;

}

#ranking {
    position: fixed;
    top: 285px;
    left: -51px;
    height: 23px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: -webkit-linear-gradient(left, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-shadow: 0 0 3px #000;
}

#changeMode {
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    top: 470px;
    left: -29px;
    width: 80px;
    padding: 2px;
    border: 1px solid red;
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: -webkit-linear-gradient(left, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    cursor: pointer;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

.board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 550px;
    width: 300px;
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background-color: hsl(0, 0%, 90%);
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%), -webkit-linear-gradient(top, hsl(0, 0%, 78%) 0%, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%)100%);
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%), linear-gradient(180deg, hsl(0, 0%, 78%) 0%, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%)100%);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
}

.level1,
.level2,
.level3,
.level4,
.level5,
.level6,
.level7,
.level8,
.level9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 53px;
    padding-top: 2px;
    padding-bottom: 2px;
    pointer-events: none;
}

.level1 {
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.75);
    pointer-events: auto;

}

.level1 .request .socketBig {
    cursor: pointer
}


.level9 {
    display: none;
}

.showLevel {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 1.5em;
    text-shadow: 0 0 1px white;
    margin: 0 0 0 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 32px;
    height: 90%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
}

.socketSmall {
    height: 10px;
    width: 10px;
    -ms-flex-item-align: center;
    align-self: center;
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
    background-color: #a8a8a8;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
}

.secretCode {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 0.7em;
    font-weight: 700;
    font-weight: 200;
}

.timeCounter {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: darkred;
    font-size: 1.0em;
    background-color: rgba(255, 255, 255, 0.70);
    margin: 0;
    padding: 5px 0 5px 0;
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.75);
    width: 100%;
}

.timeCounter:before,
.timeCounter:after {
    font-family: 'Press Start 2P', cursive;
    color: darkred;
    font-size: 1.0em;
}

.timeCounter:before {
    content: 'TIME[';
}

.timeCounter:after {
    content: ']';
}

.request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 230px;
    height: 100%;
}

.socketBig {
    font-family: 'Press Start 2P', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 38px;
    width: 38px;
    margin: 2px;
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.75);
    background-color: #a8a8a8;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.75);
    font-size: 1.3em;
    color: white;
    text-shadow: 0 0 1px #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#check {
    height: 50px;
    width: 120px;
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #F7971E;
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    background: -webkit-linear-gradient(left, #FFD200, #F7971E);
    background: linear-gradient(to right, #FFD200, #F7971E);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 10px;
}

#check:disabled {
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: -webkit-linear-gradient(left, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    border: 2px solid #fff;
    cursor: not-allowed
}

.gameStatus {
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    color: #fff;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    height: 43px;
    width: 303px;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}

.resetText {
    margin: 0;
    padding: 0;
}

.reset {
    cursor: pointer;
    fill: #fff;
    height: 30px;
}

.gameStatus.winInfo {
    background-color: green
}

.gameStatus.loseInfo {
    background-color: red
}

.modal {
    /*    background-color: #000;*/
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7em;
    margin: auto;
    max-width: 334px;
    padding: 15px;
    text-align: center;
}

.modal-content p {
    text-align: center
}



.modal-content p:first-of-type {
    font-weight: 700
}

.scoreForm {
    display: inline-block;
    text-align: center;
}


#message {
    display: inline-block;
    text-align: center;
}

.gameRules {
    font-weight: 100
}

#link {
    color: #dc143c;
    font-style: italic
}

#rankingList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

table {
    width: 100%;
}

thead {
    font-weight: 700;
}

tbody {
    font-weight: 100;
    margin-top: 5px;
}

tr {
    margin-top: 3px;
    margin-bottom: 3px;
}

#savePlayer {
    height: 40px;
    width: 110px;
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    background: #F7971E;
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    background: -webkit-linear-gradient(left, #FFD200, #F7971E);
    background: linear-gradient(to right, #FFD200, #F7971E);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 10px;
}

.closeRules,
.closeRanking,
.closeScore {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: 700
}

.closeRules:hover,
.closeRules:focus,
.closeRanking:hover,
.closeRanking:focus,
.closeScore:hover,
.closeScore:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none
}

#basicUsage {
    width: 100px;
    height: 100px;
}

@media only screen and (min-width:50em) {
    #title {
        right: -140px;
        font-size: 3.5em;
    }

    #rulesBtn,
    #ranking,
    #muteBtn,
    #colorblind {
        height: 40px;
    }


    #rulesBtn {
        left: -70px;
    }

    #ranking {
        left: -46px;
    }

    #muteBtn,
    #colorblind {
        width: 40px;
        padding: 6px;
    }

    #colorblind {
        top: 420px;
    }


    #changeMode {
        left: -24px;
        top: 515px;
        padding-bottom: 9px;
        padding-top: 9px;
    }




    .modal {
        padding-top: 15vh;
    }

    .modal-content {
        max-width: 60vw;
        font-size: 1.2em;
    }

}

@media only screen and (min-width:64em) {
    #title {
        font-size: 3.7em;
    }

    #rulesBtn,
    #ranking,
    #muteBtn,
    #colorblind {
        height: 45px;
    }

    #rulesBtn {
        left: -67px;
    }

    #ranking {
        left: -43px;
    }

    #muteBtn,
    #colorblind {
        width: 40px;
        padding: 6px;
    }

    #muteBtn {
        top: 400px;
    }

    #colorblind {
        top: 450px;
    }

    #changeMode {

        top: 530px;
        left: -23px;
        padding-bottom: 10px;
        padding-top: 10px;
        
    }

}

@media only screen and (min-width:85.375em) {
    #title {
        font-size: 4.3em;
    }

}
